@import '~@styles/_variables.scss'; 

.newCommentContainer {
    background-color: #c9c9c9;
    margin: 0 -20px;
    padding: 10px;
}

.newCommentForm {
    display: flex;
    flex-direction: column;
    gap: 5px;

    textarea {
        min-height: 40px;
        padding: 5px;
        resize: vertical;
    }

    .confirmButton {
        align-self: flex-end;
        background-color: #fff;
        border: 1px solid $deep-blue;
        color: $deep-blue;
        cursor: pointer;
        padding: 1px 10px;

        &:disabled {
            opacity: 0.2;
        }
    
        &:not(:disabled):hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            transform: scale(1.01)
        }
    
        &:active {
            transform: scale(.9) !important;
        }
    }

    p {
        text-align: center;
    }
}