.newCommentContainer {
    background-color: #c9c9c9;
    padding: 10px;
}

.newCommentForm {
    display: flex;
    flex-direction: column;
    gap: 5px;

    textarea {
        min-height: 40px;
        padding: 5px;
        resize: vertical;
    }

    .confirmButton {
        align-self: flex-end;
        background-color: #fff;
        border: 1px solid black;
        cursor: pointer;
        padding: 1px 10px;
    }

    p {
        text-align: center;
    }
}