@import '~@styles/_variables.scss';

.commentContainer {
    display: flex;
    gap: 10px;
    padding: 10px;

    &:nth-child(2n) {
        background-color: #f5f5f5;
    }

    .comment {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        position: relative;
        width: 100%;

        &:before {
            content: '';
            background-color: black;
            position: absolute;
            bottom: 0;
            left: -15px;
            top: 0;
            width: 2px;
        }
    }

    .commentTimestamp {
        font-weight: bold;
    }

    .commentBody {
        margin: 10px 0;
    }

    .edited {
        color: gray;
        font-style: italic;
    }

    .commentInfo {
        display: flex;
        margin-top: auto;
        
        .authorContainer {
            display: flex;
            gap: 5px;
            margin-left: auto;

            .postAuthorImg {
                border-radius: 50%;
                height: 20px;
                width: 20px;
            }
        }
    }

    .editContainer {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 10px 0;

        .editCommentInput {
            border: 1px solid gray;
            border-radius: none;
            font-size: 14px;
            letter-spacing: 2px;
            min-height: 40px;
            padding: 5px 3px;
            resize: vertical;
        }

        .submitCommentEdit {
            align-self: center;
            background-color: inherit;
            border: 2px solid $deep-blue;
            color: $deep-blue;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            padding: 3px 30px;
            width:fit-content;
        
            &:disabled {
                opacity: 0.2;
            }
        
            &:not(:disabled):hover {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                transform: scale(1.01)
            }
        
            &:active {
                transform: scale(.9) !important;
            }
        }
    }
}