@import '~@styles/_variables';

.editPictureContainer {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;

    .picturePreview {
        border: 3px solid $deep-blue;
        border-radius: 50%;
        height: 200px;
        object-fit: cover;
        width: 200px;
    }

    .pictureInput {
        width: 115px;

        &::-webkit-file-upload-button {
            visibility: hidden;
        }

        &::before {
            content: 'Upload Image';
            color: $deep-blue;
            display: inline-block;
            border: 2px solid $deep-blue;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            padding: 3px 5px;
            outline: none;
            white-space: nowrap;
            width: 100px;
            user-select: none;
            text-align: center;

            -webkit-user-select: none;
        }

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            transform: scale(1.01)
        }
    
        &:active {
            transform: scale(.9) !important;
        }
    }
}