{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "airbnb/hooks",
        "airbnb-typescript",
        "plugin:react/recommended",
        "plugin:react/jsx-runtime",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:prettier/recommended",
        "plugin:import/recommended"
    ],
    // Specifying Parser
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module",
        "tsconfigRootDir": ".",
        "project": [
            "./tsconfig.json"
        ]
    },
    // Configuring third-party plugins
    "plugins": [
        "react",
        "@typescript-eslint",
        "simple-import-sort"
    ],
    "settings": {
        "import/core-modules": [
            "@assets/images",
            "@components/header",
            "@components/newPost",
            "@components/postFeed"
        ],
        "import/resolver": {
            "typescript": {
                "project": "./tsconfig.json"
            }
        },
        "react": {
            "version": "18.2.0"
        }
    },
    "rules": {
        "@typescript-eslint/no-misused-promises": 0,
        "@typescript-eslint/no-var-requires": 0,
        "indent": ["error", 2, { "SwitchCase": 1 }],
        "jsx-a11y/no-static-element-interactions": "off",
        "quotes": ["error", "single"],
        "react/react-in-jsx-scope": "off",
        "semi": ["error", "never"],
        "prettier/prettier": [
          "error",
          {
            "endOfLine": "auto",
            "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
            "importOrderSeparation": true,
            "importOrderSortSpecifiers": true,
            "printWidth": 100,
            "semi": false,
            "singleQuote": true,
            "tabWidth": 2,
            "trailingComma": "none"
          }
        ],
        // Disallow the `any` type.
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-explicit-any": "warn",
        "@typescript-eslint/restrict-template-expressions": "off",
        "@typescript-eslint/ban-types": [
            "error",
            {
                "extendDefaults": true,
                "types": {
                    "{}": false
                }
            }
        ],
        "react-hooks/exhaustive-deps": "off",
        // Allow circumstances for style modules
        "@typescript-eslint/no-floating-promises": 0,
        "@typescript-eslint/no-unsafe-assignment": 0,
        "@typescript-eslint/no-unsafe-member-access": 0,
        "import/no-extraneous-dependencies": 0,
        // Enforce the use of the shorthand syntax.
        "object-shorthand": "error",
        "no-console": "warn"
    },
    "overrides": [
        // override "simple-import-sort" config
        {
          "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
          "rules": {
            "simple-import-sort/imports": [
              "error",
              {
                "groups": [
                  // Packages `react` related packages come first.
                  ["^react", "^@?\\w"],
                  // Internal packages.
                  ["^(@|components)(/.*|$)"],
                  // Side effect imports.
                  ["^\\u0000"],
                  // Parent imports. Put `..` last.
                  ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
                  // Other relative imports. Put same-folder imports and `.` last.
                  ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
                  // Style imports.
                  ["^.+\\.?(css)$"]
                ]
              }
            ]
          }
        }
      ]
}