// Firebase Storage Rules

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if true;
    }
    match /{$userID}/{allPaths=**} {
      allow write, update: 
        if request.auth.id == $userID
        && request.resourceType.contentType.matches('image/.*')
        && request.resource.size < 5 * 1024 * 1024
      allow delete:
        if request.auth.uid == $userID;
    }
  }
}