@import '~@styles/_variables.scss';

.userProfileHeadingContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.profileHeadingImage {
    background-color: grey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid $deep-blue;
    border-radius: 50%;
    height: 200px;
    object-fit: cover;
    width: 200px;
}

.profileHeadingName {
    font-size: 24px;
}