@import '~@styles/_variables.scss';

.authorContainer {
    cursor: pointer;
    display: flex;
    gap: 5px;
    margin-left: auto;

    .postAuthorImg {
        border-radius: 50%;
        height: 20px;
        object-fit: cover;
        width: 20px;
    }

    .postAuthor {
        &.bold {
            font-weight: bold;
        }

        &.preview {
            display: none;

            @media screen and (min-width: $breakpoint-x-small) {
                display: inline-block;
            }
        }
    }
}