.post {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    &.postPreview {
        cursor: pointer;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            transform: scale(1.01)
        }

        .postBody {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.postBody {
    line-height: 20px;
}

.headline {
    align-items: center;
    display: flex;
    gap: 10px;

    .favoriteButton {
        background-color: inherit;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }

    .postTitle {
        font-size: 24px;
        font-weight: bold;
    }
}

.postInfo {
    display: flex;
    gap: 20px;
}

.postAuthor, .postTimestamp, .postCommentCount, .postFavoriteCount {
    font-size: 12px;
    font-weight: bold;
}

.starIcon {
    color: #e7be08;
}

.postAuthor {
    margin-left: auto;
}