/* 
  A set of styles to reset various elements
  to allow for compatibility across multiple
  browsers tweaked from the Meyerweb reset,
  available at:
  https://meyerweb.com/eric/tools/css/reset/
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
p,
img,
ul,
li,
footer,
header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  user-select: none;
  vertical-align: baseline;
}

body {
  background-color: rgba(50, 50, 50, 0.8);
}

body, input, button {
  font-family: Roboto, 'Trebuchet MS', Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  pointer-events: none;
}

ol,
ul {
  list-style: none;
}

button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}