.post {
    background-color: #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    &.postPreview {
        cursor: pointer;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            transform: scale(1.01)
        }

        .postBody {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.postImage {
    max-width: 100%;
    width: fit-content;
}

.postBody {
    line-height: 20px;
}

.headline {
    align-items: center;
    display: flex;
    gap: 10px;

    .favoriteButton {
        background-color: inherit;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }

    .postTitle {
        font-size: 24px;
        font-weight: bold;
    }
}

.postInfo {
    align-items: center;
    display: flex;
    gap: 20px;
}

.postAuthor, .postTimestamp, .postCommentCount, .postFavoriteCount {
    font-size: 16px;
    font-weight: bold;
}

.starIcon {
    color: #e7be08;
}

.authorContainer {
    align-items: center;
    display: flex;
    margin-left: auto;
}

.postAuthorImg {
    border-radius: 50%;
    height: 20px;
    margin-right: 10px;
    width: 20px;
}
