@import '~@styles/_variables.scss';

.post {
    background-color: #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    &.postPreview {
        cursor: pointer;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            transform: scale(1.01)
        }

        .postBody {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.postImage {
    max-width: 100%;
    width: fit-content;
}

.postBody {
    line-height: 20px;
}

.postInfo {
    align-items: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.postAuthor, .postTimestamp, .postCommentCount, .postFavoriteCount {
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
}

.authorContainer {
    align-items: center;
    display: flex;

    @media screen and (min-width: $breakpoint-small) {
        margin-left: auto;
    }
}

.postAuthorImg {
    border-radius: 50%;
    height: 20px;
    margin-right: 10px;
    width: 20px;
}

.postCounts {
    display: flex;
    gap: 15px;
}