@import '~@styles/_variables.scss';

.messageContainer {
    border: 5px solid $deep-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 50px;
    padding: 30px;

    .messageContainerIcon {
        font-size: 50px;
    }
}