.commentControlsContainer {
    display: flex;
    gap: 20px;
}

.commentControl {
    background-color: inherit;
    border: none;
    color: gray;
    cursor: pointer;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    vertical-align: center;

    &:disabled {
        opacity: 0.2;
    }
}