@import '~@styles/_variables.scss';

.header {
    align-items: center;
    background-color: $deep-blue;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
}

.headerLogo {
    height: 40px;
    margin-right: auto;
}