@import '~@styles/_variables.scss';

.header {
    align-items: center;
    background-color: $deep-blue;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.headerLogo {
    height: 20px;
    margin-right: auto;

    @media screen and (min-width: $breakpoint-medium) {
        height: 40px;
    }
}