@import '~@styles/_variables.scss';

.userBar {
    align-items: flex-start;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
    display: flex;
    flex-direction: row;
    gap: 14px;
    grid-area: nav;
    padding: 5px;
    position: sticky;
    top: 40px;
    z-index: 1;

    .sidebarLink {
        background-color: inherit;
        border: none;
        cursor: pointer;
        font-size: 18px;
        padding: 5px;
        position: relative;
        text-align: center;
        white-space: nowrap;
        width: 100%;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
            transform: scale(1.01)
        }

        &:not(:last-of-type)::after {
            content: '';
            background-color: $deep-blue;
            position: absolute;
            top: 5px;
            right: -6%;
            bottom: 5px;
            width: 1px;
        }
    }

    @media screen and (min-width: $breakpoint-medium) {
        align-self: flex-start;
        background-color: transparent;
        box-shadow: none;
        flex-direction: column;
        padding: 20px;
        top: 60px;

        .sidebarLink {
            text-align: left;

            &:not(:last-of-type)::after {
                display: none;
            }
        }
    }
}