@import '~@styles/_variables.scss';

.userBar {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;

    button {
        background-color: inherit;
        border: none;
        cursor: pointer;
        font-size: 18px;
        padding: 5px;
        position: relative;
        text-align: left;
        width: 100%;
    }
}