@import '~@styles/_variables.scss';

.sidebarLink {
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 100%;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
        transform: scale(1.01)
    }

    &:not(:last-of-type)::after {
        content: '';
        background-color: $deep-blue;
        position: absolute;
        top: 5px;
        right: -6%;
        bottom: 5px;
        width: 1px;
    }

    @media screen and (min-width: $breakpoint-medium) {
        text-align: left;

        &:not(:last-of-type)::after {
            display: none;
        }
    }
}
