@import '~@styles/_variables.scss';

.userStatus {
    align-items: center;
    color: #ffffff;
    display: flex;
    gap: 10px;
    position: relative;

    &.notLoggedIn {
        cursor: pointer;
    }
}

.userImgWrapper {
    border: 3px solid #ffffff;
    border-radius: 50%;
    display: grid;
    place-content: center;
    height: 30px;
    width: 30px;
}

.userImg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.userIcon {
    color: #ffffff;
}

.dropDownMenu {
    position: absolute;
    width: calc(100% + 10px);
    bottom: -37px;
    right: calc(-100% - 20px);

    &.isActive {
        transform: translateX(-100%);
    }

    transition: ease-in-out transform .2s;
    -webkit-transition: ease-in-out transform .2s;
    -moz-transition: ease-in-out transform .2s;
    -o-transition: ease-in-out transform .2s;

    .signOutButton {
        border: none;
        border-bottom: 2px solid $deep-blue;
        border-left: 2px solid $deep-blue;
        background: #FFFFFF;
        cursor: pointer;
        font-size: 16px;
        width: 100%;
    }
}