@import '~@styles/_variables.scss';

.userStatus {
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    gap: 10px;
    position: relative;
}

.userImg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border: 3px solid #ffffff;
    border-radius: 50%;
    height: 20px;
    width: 20px;

    @media screen and (min-width: $breakpoint-medium) {
        height: 30px;
        width: 30px;
    }
}

.userIcon {
    color: #ffffff;
}

.dropDownMenu {
    display: none;
    position: absolute;
    width: calc(100% + 10px);
    bottom: -42px;

    &.isActive {
        animation: expand .5s ease-in-out;
        display: block;
        transform-origin: right;
    }

    transition: ease-in-out transform .2s;
    -webkit-transition: ease-in-out transform .2s;
    -moz-transition: ease-in-out transform .2s;
    -o-transition: ease-in-out transform .2s;

    .signOutButton {
        border: none;
        border-bottom: 2px solid $deep-blue;
        border-left: 2px solid $deep-blue;
        background: #FFFFFF;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        padding: 5px;
        width: 100%;
    }

    @media screen and (min-width: $breakpoint-medium) {
        bottom: -47px;
    }
}

@keyframes expand {
    0% {
        transform: scaleX(0);
    }

    70% {
        transform: scaleX(1.1);
    }

    100% {
        transform: scaleX(1);
    }
}
