@import '~@styles/_variables.scss';

.editProfileContainer {
    display: flex;
    flex-direction: column;
}

.editProfileTitle {
    border-bottom: 2px solid $deep-blue;
    color: $deep-blue;
    font-weight: bold;
    padding: 10px;
}

.saveButton {
    align-self: center;
    background-color: inherit;
    border: 2px solid $deep-blue;
    color: $deep-blue;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    padding: 3px 30px;
    width:fit-content;
}
