@import '~@styles/_variables';

.filterBar {
    display: flex;
    gap: 10px;
    padding: 10px;
    position: relative;

    &:after {
        content: '';
        background-color: $deep-blue;
        position: absolute;
        height: 2px;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.postFeedTitle, .filterTitle {
    font-weight: bold;
}

.filterTitle {
    margin-left: auto;
}

.dropMenu {
    display: flex;
    flex-direction: column;
    position: relative;
    display: inline-block;
    width: 90px;

    .dropToggle {
        align-items: center;
        border: none;
        border-bottom: 2px solid $deep-blue;
        box-sizing: border-box;
        color: $deep-blue;
        cursor: pointer;
        display: flex;
        gap: 5px;
        padding: 3px 5px;
        justify-content: flex-end;
        width: 100%;
    
        p {
            pointer-events: none;
        }
    }
    
    .faIcon {
        pointer-events: none;
        transition: transform ease-in-out .3s;
        -webkit-transition: transform ease-in-out .3s;
        -moz-transition: transform ease-in-out .3s;
        -o-transition: transform ease-in-out .3s;
    
        &.dropIsActive {
            transform: rotate(180deg);
        }
    }

    .dropContent {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 1;

        &.dropIsActive {
            display: block;
        }
    }
}
